
{% include nav.html %}

<div class="page-wrap">
  {% include header.html %}

  <main class="hero1">
    <h2>Howdy, welcome to Jointley.</h2>
    <div class="hr"><hr></div>
    <h1>We're a digital brand and product innovation company</h1>
    <div class="button">
      <a href="#">View case study</a>
    </div>
  </main>
  <main class="hero2">
    <div class="hr"><hr></div>
    <h1>…we use the power of design and technology to create new brand experiences</h1>
    <div class="button">
      <a href="#">Wanna talk about it?</a>
    </div>
  </main>

  </div>
</div>

{% include footer.html %}
